---
layout: page
title: About Thomas
---
{% include JB/setup %}


<div class="content-container">

	<div class="content-box">
		<div id="about" class="content">
			<div class="about-picture">
			</div>
			<div class="about-info">
				<h1>{{ site.author.name }}</h1>
				<h4></h4>

				<ul class="about-info">
					<li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
					<li><a target=_blank href="https://twitter.com/{{ site.author.twitter }}">@{{ site.author.twitter }}</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="content-box">
	  <div id="interests" class="content">

	    <h1>About Me</h1>
	    <ul><li><a href="{{ BASE_PATH }}assets/media/cv.pdf" target="_blank" id="semi_bold">Download CV</a></li></ul>
	    <h2>Interests</h2>
	    <ul><li id="semi_bold">Visualization, Visual Analytics, Visual Data Exploration for Biological Applications</li></ul>

	    <h2>Education</h2>
	    <ul class="edu">
	       <li><strong>King Abdullah University of Science and Technology</strong>,
	         Thuwal, KSA
	         (March 2010 &mdash; April 2013) <br/>
	         April 2013: Ph.D. in Computer Science,
	         <em>Visual Workflows for Oil and Gas Exploration.</em>
	         Advisor: Markus Hadwiger
	       </li>
	      <li><strong>Universität Koblenz-Landau</strong>,
	        Koblenz, Germany
	        (September 2002 &mdash; August 2008) <br/>
	        August 2008: Diplom Informatiker (M.Sc.) Computational Visualistics
	       </li>
	     </ul>

	     <h2>Professional Experience</h2>
	     <ul class="exp">
	      <li>
	        <strong>Assistant Professor</strong>
	        Computational Biology Center,
	        <a href="https://www.lumc.nl" target="_blank">Leids Universitair Medisch Centrum, The Netherlands</a>,
	        (Jan 2017 &mdash; today)
	      </li>
	      <li>
	        <strong>Postdoctoral Fellow</strong>
	        <a href="https://graphics.tudelft.nl" target="_blank">Computer Graphics and Visualization</a>,
	        <a href="https://www.tudelft.nl" target="_blank">Technische Universiteit Delft, The Netherlands</a>,
	        (May 2015 &mdash; August 2018)
	      </li>
	      <li>
	        <strong>Research Consultant</strong> for Visualization,
	        <a href="https://assimilation.kaust.edu.sa" target="_blank">Earth Fluid Modeling and Prediction Group</a>,
	        <a href="https://www.kaust.edu.sa" target="_blank">King Abdullah University of Science and Technology, Thuwal, KSA</a>,
	        (January 2014 &mdash; March 2015)
	      </li>
	      <li>
	        <strong>Postdoctoral Fellow</strong>,
	        <a href="https://vcc.kaust.edu.sa" target="_blank">GMSV (now VCC)</a>,
	        <a href="https://www.kaust.edu.sa" target="_blank">King Abdullah University of Science and Technology, Thuwal, KSA</a>,
	        (May 2013 &mdash; December 2013)
	      </li>
	      <li>
	        <strong>PhD Student</strong>,
	        <a href="https://vcc.kaust.edu.sa" target="_blank">GMSV (now VCC)</a>,
	        <a href="https://www.kaust.edu.sa" target="_blank">King Abdullah University of Science and Technology, Thuwal, KSA</a>,
	        (March 2010 &mdash; April 2013)
	      </li>
	      <li>
	        <strong>Teaching Asstistant</strong>,
	         for Scientific Visualization (CS 247) and GPU and GPGPU Programming (CS 380) courses in 2010, 2011 and 2013
	       </li>
	      <li>
	        <strong>Researcher</strong>,
	        Visualization Group,
			<a href="https://www.vrvis.at" target="_blank">VRVis Research GmbH</a>, Vienna, Austria,
	        (February 2009 &mdash; February 2010)
	      </li>
	       <li>
	         <strong>Research Assistant</strong>,
	         <a href="https://www.uni-koblenz-landau.de/en/campus-koblenz/fb4/icv/agmueller-en/" target="_blank">CG Working Group</a>,
	         <a href="https://www.uni-koblenz-landau.de/" target="_blank">Universität Koblenz-Landau</a>, Koblenz, Germany
	         (September 2008 &mdash; January 2009)
	      </li>
	       <li>
	         Several internships and research stays, e.g. SCI Institute - University of Utah, TU Vienna, SimVis GmbH, VRVis GmbH (<a href="{{ BASE_PATH }}assets/media/cv.pdf" target="_blank">see cv for full details</a>).
	       </li>
	     </ul>

	     <h2>Projects</h2>
	     <ul class="projects">
	       <li>
	         <a href="https://www.cytosplore.org" target="_blank" id="semi_bold">Cytosplore</a> is a framework for the visual analysis of single cell data acquired through mass cytometry. It is the basis for my research in visual analytics I conduct in the <a href="https://graphics.tudelft.nl" target="_blank">Computer Graphics and Visualization</a> group at <a href="https://www.tudelft.nl" target="_blank">TU Delft</a> as part of the <a href="https://www.stw.nl" target="_blank">STW</a> VanPIRe project. <a href="https://www.cytosplore.org" target="_blank" id="semi_bold">More details...</a>
	       </li>
	       <li>
	         <a href="https://ovis.thomashollt.com" target="_blank" id="semi_bold">OVis</a> is a framework for the visual analysis of ocean forecasts. I started building OVis during my PhD research and continued working on it later on. It builds the foundation for several of my publications and I hope to to be able to make it available to the public soon. <a href="https://ovis.thomashollt.com" target="_blank" id="semi_bold">More details...</a>
	       </li>
	       <li>
	         <a href="https://uberdice.thomashollt.com" target="_blank" id="semi_bold">Uberdice</a> is an interactive arduino-based programmable die. It is a hobby project, together with <a href="https://vcc.kaust.edu.sa/Pages/Rautek.aspx" target="_blank" id="semi_bold">Peter Rautek</a>. We built a fully working prototype from scratch, starting with a 3D printed casing, to endless hours of soldering and finally programming complete games. <a href="https://uberdice.thomashollt.com" target="_blank" id="semi_bold">More details...</a>
	       </li>
	     </ul>

	     <h2>Skills</h2>
	     <ul class="skills">
	       <li>
	         <strong>Programming</strong>: C, C++, Objective-C, GLSL, Cg, LaTeX, Javascript, HTML, CSS
	       </li>
	       <li>
	         <strong>Technologies/API</strong>: Visual Studio, XCode, OpenGL, OpenCL, CUDA, Qt, D3.js, Cocoa, Ruby on Rails
	       </li>
	       <li>
	         <strong>Languages</strong>: German - native, English - fluent
	       </li>
	     </ul>
	   </div>
	 </div>

	<div class="content-box">

    {% include themes/thomashollt.com/papers.html %}

	</div>
</div>
