body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    color: #140028;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    font-size: 1.0em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility
}

a, a:visited {
    color: #140028;
    text-decoration: none
}

.navbar-container {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1030;
    border: 0;
    padding: 0;
    box-shadow: 0px 1px 8px rgba(19, 0, 38, 0.35);
    font-weight: bold;
    font-size: 1.2em;
    line-height: 25px;
    background-color: rgba(19, 0, 38, 0.9)
}

.navbar {
    max-width: 960px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block
}

.navbar li, .navbar li a, .navbar li a:visited, .navbar li a.active:hover .navbar li a:hover {
    font-size: 1.1em;
    margin: 0px 3px;
    padding: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFF;
    font-weight: 300;
    text-decoration: none;
    display: inline-block
}

.navbar li a:hover {
    color: #FFF
}

.content-container {
    background-color: #FFF;
    margin-top: 60px;
    margin-bottom: 50px;
    overflow: hidden
}

.content-container h1 {
    font-size: 1.8em;
    line-height: 1.3em;
    font-weight: 300;
    margin: 0
}

.content-container h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: 300
}

.content-container h3 {
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 300
}

.content-container h4 {
    font-size: 1.0em;
    font-weight: 300
}

.content-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-image: none
}

.content-container li, .content-container li a, .content-container li a:visited {
    font-size: 1.1em;
    line-height: 1.65em;
    font-weight: 300;
    color: #140028;
    text-decoration: none
}

.projects li a, .projects li a:visited {
    font-weight: 300
}

#semi_bold, strong {
    font-weight: 400
}

.content-box {
    background: -moz-linear-gradient(top, #fafafa 0%, #fff 85px);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(85px, #fff));
    background: -webkit-linear-gradient(top, #fafafa 0%, #fff 85px);
    background: -o-linear-gradient(top, #fafafa 0%, #fff 85px);
    background: -ms-linear-gradient(top, #fafafa 0%, #fff 85px);
    background: linear-gradient(to bottom, #fafafa 0%, #fff 85px);
    border-top: 0.25px solid #140028;
    padding-top: 40px;
    padding-bottom: 30px
}

.content {
    max-width: 1180px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px
}

#about {
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px
}

#interests li {
    margin-bottom: 7px
}

.paper-pic {
    float: left;
    margin: 0px 10px 0px 0px;
    height: 72px;
    width: 72px;
    /*border: 0.25px solid #140028*/
}

.row, .folderContent {
    font-size: 1.1em;
    line-height: 1.65em;
    overflow: hidden
}

.row {
    padding: 15px 15px 5px 15px;
    min-width: 290px
}

.folderContent, .folderContent a, .folderContent a:visited {
    background: #140028;
    color: #FFF;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 400;
    text-decoration: none
}

.row .paper-text {
    margin-top: -7px;
    margin-bottom: -7px
}

.paper-text, .paper-pic {
    cursor: pointer;
}

.about-info {
    text-align: left;
    margin-top: -10px;
    margin-bottom: -20px;
    margin-left: 180px;
    padding-top: 20px
}

.about-picture {
    float: left;
    background: #FFF;
    width: 160px;
    height: 160px;
    border: 2.5px solid #140028;
    -moz-border-radius: 85px;
    -webkit-border-radius: 85px;
    border-radius: 85px;
    background: url(/assets/media/portrait.jpg) no-repeat;
    background-size: 160px 160px
}

@media only screen and (min-width: 640px) {
    .paper-pic-large {
        width: 30%;
        float: right;
        margin: 10px;
        -webkit-box-shadow: 0px 0px 0px 1px rgba(55, 55, 55, 0.975);
        -moz-box-shadow: 0px 0px 0px 1px rgba(55, 55, 55, 0.975);
        box-shadow: 0px 0px 0px 1px rgba(55, 55, 55, 0.975)
    }
}

@media only screen and (max-width: 640px) {
    .paper-pic-large {
        margin: 15px 10px;
        max-width: 96%;
        -webkit-box-shadow: 0px 0px 0px 1px rgba(55, 55, 55, 0.975);
        -moz-box-shadow: 0px 0px 0px 1px rgba(55, 55, 55, 0.975);
        box-shadow: 0px 0px 0px 1px rgba(55, 55, 55, 0.975)
    }
}

@media only screen and (max-width: 440px) {
    .about-info {
        margin-top: -20px;
        margin-bottom: -20px;
        margin-left: 100px;
        padding-top: 0px
    }

    .about-info h4 {
        font-size: 0.25em
    }

    .about-picture {
        margin-top: 10px;
        width: 80px;
        height: 80px;
        -moz-border-radius: 42px;
        -webkit-border-radius: 42px;
        border-radius: 42px;
        background-size: 80px 80px
    }

    .navbar li, .navbar li a, .navbar li a:visited, .navbar li a.active:hover .navbar li a:hover {
        font-size: 0.95em;
        font-weight: 400;
        margin: 0px 1px
    }
}

.shade-top {
    z-index: 0;
    margin-bottom: 15px;
    height: 12px;
    background-color: #FFF
}

.paper-links, .paper-links a, .paper-links a:visited {
    padding-right: 15px;
    color: #FFF;
    line-height: 1.5em;
    font-weight: 400;
    text-decoration: none
}

.paper-links {
    padding-top: 10px;
    padding-bottom: 15px;
    border-top: 0.5px solid #FFF
}

.triangle-top {
    position: relative;
    -moz-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    background-color: #140028;
    top: -23px;
    left: 25px;
    width: 17px;
    height: 17px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.35) inset;
    content: ' ';
    display: block;
    z-index: 1000;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000), color-stop(0.7, #000), color-stop(0.7, transparent), to(transparent))
}

.triangle-bottom {
    position: relative;
    -moz-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    background-color: #FFF;
    border: 1.5px solid;
    top: 12px;
    left: 25px;
    width: 17px;
    height: 17px;
    content: ' ';
    display: block;
    z-index: 1000;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000), color-stop(0.5, #000), color-stop(0.5, transparent), to(transparent))
}

.p-tit {
    font-weight: 400
}

.p-jou {
    font-style: italic
}

.paper-menu {
    float: right;
    height: 65px;
    width: 20px
}

.paper-menu-active, .paper-menu-inactive, .paper-menu-active:hover {
    margin: 1px;
    opacity: 0.35
}

.paper-menu-inactive {
    opacity: 0.1
}

.paper-menu-active:hover {
    opacity: 0.85
}

.bibtex-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.bibtex-middle {
    display: table-cell;
    vertical-align: middle;
}

.bibtex-entry {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.10em;
    font-weight: 100;
    line-height: 1.5em
}

.dashed-underline {    
    border-bottom: 1px dotted;
    text-decoration: none;
}